<center>

---

# Programación en Lenguajes Estadísticos



## Escriba sú nombre
---



</center>

##II. 
El conjunto de datos contiene información sobre los Juegos Olímpicos de Verano desde el año en que se iniciaron hasta los últimos Juegos Olímpicos de Verano de Tokio que tuvieron lugar en Tokio. Los datos contienen parámetros como el nombre, el sexo, la edad, el equipo, el juego, el año, la temporada, el deporte y la medalla.

Los parámetros y los títulos de las columnas se explican por sí mismos.
La columna Medalla es una columna categórica con valores y referencias como
- 0: Sin medalla
- 1 :Medalla de bronce
- 2 : Medalla de plata
- 3 : Medalla de oro








Responda las preguntas 6-12 basado en esta base de datos

In [ ]:
import pandas as pd
base=pd.read_csv("https://raw.githubusercontent.com/Wilsonsr/metodos-estadisticos/main/All%20Year%20Olympic%20Dataset%20(with%202020%20Tokyo%20Olympics).csv")
base=base.drop('Unnamed: 0', axis=1)
base.head(10)

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,A Dijiang,M,24.0,China,1992 Summer,1992,Summer,Basketball,0
1,A Lamusi,M,23.0,China,2012 Summer,2012,Summer,Judo,0
2,Gunnar Nielsen Aaby,M,24.0,Denmark,1920 Summer,1920,Summer,Football,0
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,3
4,Christine Jacoba Aaftink,F,21.0,Netherlands,1988 Winter,1988,Winter,Speed Skating,0
5,Christine Jacoba Aaftink,F,21.0,Netherlands,1988 Winter,1988,Winter,Speed Skating,0
6,Christine Jacoba Aaftink,F,25.0,Netherlands,1992 Winter,1992,Winter,Speed Skating,0
7,Christine Jacoba Aaftink,F,25.0,Netherlands,1992 Winter,1992,Winter,Speed Skating,0
8,Christine Jacoba Aaftink,F,27.0,Netherlands,1994 Winter,1994,Winter,Speed Skating,0
9,Christine Jacoba Aaftink,F,27.0,Netherlands,1994 Winter,1994,Winter,Speed Skating,0

1. **Cuantas filas y columnas tiene la base de datos.**

In [ ]:
# Escriba su código

2. **Cuales son los nombres de las columnas**

In [ ]:
# Escriba su código

3. **Cuantos  deportistas colombianos de genero masculino participaron en tokyo 2020 según la base de datos**

In [ ]:
# Escriba su código

4. **Cree un DataFrame llamada `base1`  que contenga sólo las columnas `Sex`, `Year`,`Team`, `Medal`  en ese orden. Imprima el encabezado.**

In [ ]:
# Escriba su código

5. **Cuales han sido los 3 países con mayor cantidad de medallas en la historia de los juegos olimpicos**

In [ ]:
# Escriba su código

6. **Cuantas medallas han obtenido de (oro, plata y bronce)  los deportistas colombianos en toda la historia de los juegos olimpicos**

In [ ]:
# Escriba su código

7. **¿Cual fue la edad promedio de los  deportistas colombianos, separado para hombres y mujeres en tokyo 2020?**

In [ ]:
# Escriba su código

8. **¿Cuál ha sido el deportista de menor y mayor edad que ha participado en unos juegos olimpicos de verano?**

In [ ]:
# Escriba sus códigos

9. **¿Cual deporte ha dado más medallas a Colombia?**

In [ ]:
# Escriba su código